/4P/paa/u1/datagrama/.datagrama
/4P/paa/u1/datagrama/output.txt
/4P/paa/u2/sequenciamento/sequenciamento.exe
/4P/paa/u2/sequenciamento/output.txt
4P/statistics/u1/stats.exe
4P/paa/u2/sequenciamento/deepseek.cpp
.editorconfig
4P/paa/u2/transportadora/transportadora.exe
4P/paa/u2/sequenciamento/derickteles_202300027187_sequenciamento.cpp
4P/paa/u2/sequenciamento/derick.exe
4P/paa/u2/sequenciamento/malu.cpp
4P/paa/u2/compressao/compressao.exe
4P/paa/u2/compressao/output.txt
4P/paa/u2/transportadora/inputgg.txt
4P/paa/u2/transportadora/output.txt
4P/paa/u2/transportadora/outputgg.txt
4P/paa/u3/labirinto/labirinto.exe
4P/paa/u3/labirinto/output.txt
5P/ppc/CMakeLists.txt
5P/ppc/mpi/projects/mpi2
5P/ppc/mpi/examples/mpi_trap1
5P/ppc/mpi/examples/mpi1
5P/ppc/mpi/examples/mpi3
5P/ppc/mpi/examples/mpi4
5P/ppc/mpi/examples/mpi_trap2
5P/ppc/mpi/practices/integral
5P/so/processosEThreads/README.md
*.class
5P/so/processosEThreads/.vscode/settings.json
5P/so/processosEThreads/cpp/integral
5P/ppc/mpi/projects/vw.md
.clangd
5P/ppc/mpi/projects/image.png
5P/ppc/mpi/projects/.vector
5P/ppc/threads/examples/.threads1
github-token.txt